.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(112.9deg, #9ca6d9, #7280bf);
  }
  
  .login-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: large;
    color: white;
  }
  
  .login-block{
    position: relative;
  
    border-radius: var(--br-6xl);
    background-color: var(--color-gray-100);
    
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .form-group{
    width: 80%
  }
  
  
  h1 {
    text-align: center;
  }
  
  form {
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  
  /* Navbar Styles */
  .navbar {
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: #5166b9; /* Background color */
    padding: 10px 20px; /* Adjust padding as needed */
    box-shadow: 0px 0px 10px var(--color-orchid); /* Optional: add a subtle box shadow */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* Navbar toggle button color */
  }
  
  .navbar-nav {
    margin-right: auto; /* Push the nav items to the right */
  }
  
  .nav-item {
    margin-left: 15px; /* Adjust spacing between nav items */
  }
  
  .nav-link {
    color: #fff !important; /* Text color for nav links */
    font-weight: bold; /* Optional: make the text bold */
  }
  
  .nav-link:hover {
    color: #f8f9fa !important; /* Text color on hover */
  }
  
  /* Active link style */
  .nav-item.active .nav-link {
    color: #f8f9fa !important; /* Active link text color */
  }
  
  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
  }
  
  
  