/* Add this CSS to style the navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5166b9;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-nav {
    margin-right: auto;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
}

.nav-link:hover {
    color: #f8f9fa !important;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%; /* Increase the max-width to make the box larger */
    padding: 40px; /* Increase the padding for more space inside the box */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #5166b9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #5166b9;
}

/* Add styles for the table */
.top-users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Add styles for table header */
.top-users-table th {
    background-color: #5166b9;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Add styles for table rows */
.top-users-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Add styles for even rows */
.top-users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Add styles for table hover effect */
.top-users-table tr:hover {
    background-color: #ddd;
}



.container table {
    margin: 0 auto; /* Center-align tables */
}

/* Center-align the content in table cells */
.container table td {
    text-align: center;
}

/* Center-align the column names in the table */
.container table th {
    text-align: center;
}
