.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(112.9deg, #9ca6d9, #7280bf);
  }
  
  .signup-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: large;
    color: white;
  }

  .signup-block{
    position: absolute;
    
    border-radius: var(--br-6xl);
    background-color: var(--color-gray-100);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  :root {
    --container-padding: 20px; /* Adjust padding as needed */
  }
  
  
  /* Add this CSS to enable scrolling for narrow screens */
  .forms {
    position: relative;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    overflow-y: auto; /* Add scrollbar if content exceeds max-height */
    padding-right: 20px; /* Adjust for scrollbar width */
  }
  
  .signup-head {
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: var(--br-6xl) var(--br-6xl) 0 0;
    background-color: var(--color-orchid);
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
  }
  
  .signup-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: large;
    color: white;
  }
  
  .form-group{
    width: 80%
  }
  
  
  h1 {
    text-align: center;
  }
  
  form {
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }