/* Add this CSS to style the navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5166b9;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-nav {
    margin-right: auto;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
}

.nav-link:hover {
    color: #f8f9fa !important;
}

.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Increase the max-width to make the box larger */
    padding: 40px; /* Increase the padding for more space inside the box */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input[type="number"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #5166b9;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5166b9;
}
