{% extends "base.html" %}

{% block title %}Score{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Card Game - Score</title>
    <link rel="stylesheet" href="../static/score.css">
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <div class="container">
        <h1>Flash Card Game - Score</h1>
        <p>Your final score is: {{ score }}</p>
        <a class = "play-again" href="/play-again">Play Again</a>
        
        <h2>Top 5 Players</h2>
        <table class="top-users-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user in top_users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>


{% endblock %}